<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Eye Can See Optical - Invoice & Payment</title>

    <!-- Custom fonts for this templates -->
    <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="icon" href="static/img/icon logo.png" type="image/png">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this templates -->
    <link href="static/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <img src="static/img/eye can see - logo.png" alt="Eye Can See" class="navbar-logo" />
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}">
                    <i class="fas fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

             <!-- Nav Item - Appointment -->
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('appointments') }}">
                    <i class="fas fa-calendar-check"></i>
                    <span>Appointment</span></a>
            </li>
              
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Patient Records -->
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('patient_records') }}">
                    <i class="fas fa-user"></i>
                    <span>Patient Records</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Inventory with Sub Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#"
                   data-toggle="collapse"
                   data-target="#collapseInventory"
                   aria-expanded="false" aria-controls="collapseInventory">
                    <i class="fas fa-boxes"></i>
                    <span>Inventory</span>
                </a>
                <div id="collapseInventory" class="collapse" aria-labelledby="headingInventory" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{{ url_for('inventory') }}"><i class="fas fa-search mr-2"></i>View Inventory</a>
                        <a class="collapse-item" href="{{ url_for('optical_product_table') }}"><i class="fas fa-glasses mr-2"></i>Optical Products</a>
                        <a class="collapse-item" href="{{ url_for('lens_table') }}"><i class="fas fa-eye mr-2"></i>Lens Add Ons</a>
                        <a class="collapse-item" href="{{ url_for('add_new_product_form') }}"><i class="fas fa-plus mr-2"></i>Add New Product</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

           <!-- Main Menu Item -->
            <li class="nav-item active">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseInvoice"
                   aria-expanded="false" aria-controls="collapseInvoice">
                    <i class="fas fa-money-bill-wave"></i>
                    <span>Invoice & Payments</span>
                </a>
                <div id="collapseInvoice" class="collapse show" aria-labelledby="headingInvoice" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">

                        <!-- Regular link -->
                        <a class="collapse-item" href="{{ url_for('invoices') }}"><i class="fas fa-search mr-2"></i>View Invoice</a>

                        <!-- Collapsible Submenu -->
                        <a class="collapse-item collapsed" href="#" data-toggle="collapse" data-target="#subMenuProducts"
                           aria-expanded="false" aria-controls="subMenuProducts"><i class="fas fa-stethoscope mr-2"></i>
                            Our Services
                        </a>
                        <div id="subMenuProducts" class="collapse show">
                            <a class="collapse-item ml-3" href="{{ url_for('invoice_eyeexam') }}"><i class="fas fa-file-alt mr-2"></i>Eye Exams</a>
                            <a class="collapse-item ml-3" href="{{ url_for('invoice_opticalproduct') }}"><i class="fas fa-glasses mr-2"></i>Optical Products</a>
                            <a class="collapse-item ml-3 active" href="{{ url_for('invoice_lens') }}"><i class="fas fa-eye mr-2"></i>Lens Add-ons</a>
                            <a class="collapse-item ml-3" href="{{ url_for('add_new_record_form') }}"><i class="fas fa-plus mr-2"></i>Add New Record</a>
                        </div>

                        <!-- Another regular link -->
                        <a class="collapse-item" href="{{ url_for('invoice_billing') }}">Billing Services</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header" style="background-color: #9C2627;">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">7</span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header" style="background-color: #9C2627;">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="static/img/undraw_profile_1.svg"
                                            alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                            problem I've been having.</div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="static/img/undraw_profile_2.svg"
                                            alt="...">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">I have the photos that you ordered last month, how
                                            would you like them sent to you?</div>
                                        <div class="small text-gray-500">Jae Chun · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="static/img/undraw_profile_3.svg"
                                            alt="...">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Last month's report looks great, I am very happy with
                                            the progress so far, keep up the good work!</div>
                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                            alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                                            told me that people say this to all dogs, even if they aren't good...</div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Hannah Archivido</span>
                                <img class="img-profile rounded-circle"
                                    src="static/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h2 font-weight-bold mb-0 text-gray-900">Lens Add Ons</h1>
                    </div>

                    <!-- Tabbed Service Details -->
                     <div id="add-ons" class="service-tab mb-4 g-2 mt-5" style="display:block;">
                              <!--  Tabs Navigation -->
                            <ul class="nav nav-tabs mt-4" id="myTab3" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="antiradiation-coating-tab" data-toggle="tab" href="#antiradiation-coating" role="tab" aria-controls="antiradiation-coating" aria-selected="true">Anti-Radiation Coating</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="antireflective-coating-tab" data-toggle="tab" href="#antireflective-coating" role="tab" aria-controls="antireflective-coating" aria-selected="false">Anti-Reflective Coating</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="photochromatic-tab" data-toggle="tab" href="#photochromatic" role="tab" aria-controls="photochromatic" aria-selected="false">Photochromic (Transition)</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tinted-tab" data-toggle="tab" href="#tinted" role="tab" aria-controls="tinted" aria-selected="false">Tinted / Colored Lenses</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="progressive-tab" data-toggle="tab" href="#progressive" role="tab" aria-controls="progressive" aria-selected="false">Progressive Lenses</a>
                                </li>
                            </ul>
                            <!-- Tabs Content -->
                            <div class="tab-content" id="myTabContent-lens-addon">
                                <!-- AntiRadiation Coating Tab -->
                                <div class="tab-pane fade show active" id="antiradiation-coating" role="tabpanel">
                                    <!-- DataTables Example -->
                                    <div class="card shadow mt-2 mb-4">
                                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                            <h6 class="m-0 font-weight-bold text-red">Anti-Radiation Coating Table</h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table" id="dataTable-antiradiation-coating" width="100%" cellspacing="0">
                                                    <thead class="table-light">
                                                        <tr>
                                                            <th>Anti-Radiation Coating ID</th>
                                                            <th>Patient ID</th>
                                                            <th>Patient First Name</th>
                                                            <th>Patient Middle Initial</th>
                                                            <th>Patient Last Name</th>
                                                            <th>Age</th>
                                                            <th>Gender</th>
                                                            <th>Date</th>
                                                            <th>Price</th>
                                                            <th>Brand</th>
                                                            <th>Product Name</th>
                                                            <th>Color Tint</th>
                                                            <th>Warranty Period</th>
                                                            <th>Applicable Lens Type</th>
                                                        </tr>
                                                    </thead>
                                                   <tbody>
                                                        {% for anti in antiradiationcoating %}
                                                        <tr>
                                                          <td>{{ anti.antiradiation_coating_id }}</td>
                                                          <td>{{ anti.patient_id }}</td>
                                                          <td>{{ anti.patient_fname }}</td>
                                                          <td>{{ anti.patient_minitial }}</td>
                                                          <td>{{ anti.patient_lname }}</td>
                                                          <td>{{ anti.age }}</td>
                                                          <td>{{ anti.gender }}</td>
                                                          <td>{{ anti.date }}</td>
                                                          <td>₱ {{ anti.price }}</td>
                                                          <td>{{ anti.brand }}</td>
                                                          <td>{{ anti.model_name }}</td>
                                                          <td>{{ anti.color_tint }}</td>
                                                          <td>{{ anti.warranty_period }}</td>
                                                          <td>{{ anti.applicable_lens_types }}</td>
                                                        </tr>
                                                        {% endfor %}
                                                   </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- AntiReflective Coating Tab -->
                                <div class="tab-pane fade" id="antireflective-coating" role="tabpanel">
                                    <!-- DataTables Example -->
                                    <div class="card shadow mt-2 mb-4">
                                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                            <h6 class="m-0 font-weight-bold text-red">Anti-Reflective Coating Table</h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table" id="dataTable-antireflective-coating" width="100%" cellspacing="0">
                                                    <thead class="table-light">
                                                        <tr>
                                                            <th>Anti-Reflective Coating ID</th>
                                                            <th>Patient ID</th>
                                                            <th>Patient First Name</th>
                                                            <th>Patient Middle Initial</th>
                                                            <th>Patient Last Name</th>
                                                            <th>Age</th>
                                                            <th>Gender</th>
                                                            <th>Date</th>
                                                            <th>Price</th>
                                                            <th>Brand</th>
                                                            <th>Product Name</th>
                                                            <th>Color Tint</th>
                                                            <th>Warranty Period</th>
                                                            <th>Compatible Lens Type</th>
                                                        </tr>
                                                    </thead>
                                                   <tbody>
                                                        {% for antire in antireflectivecoating %}
                                                        <tr>
                                                          <td>{{ antire.antireflective_coating_id }}</td>
                                                          <td>{{ antire.patient_id }}</td>
                                                          <td>{{ antire.patient_fname }}</td>
                                                          <td>{{ antire.patient_minitial }}</td>
                                                          <td>{{ antire.patient_lname }}</td>
                                                          <td>{{ antire.age }}</td>
                                                          <td>{{ antire.gender }}</td>
                                                          <td>{{ antire.date }}</td>
                                                          <td>₱ {{ antire.price }}</td>
                                                          <td>{{ antire.brand }}</td>
                                                          <td>{{ antire.product_name }}</td>
                                                          <td>{{ antire.color_tint }}</td>
                                                          <td>{{ antire.warranty_period }}</td>
                                                          <td>{{ antire.compatible_lens_types }}</td>
                                                        </tr>
                                                        {% endfor %}
                                                   </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Photochromic Tab -->
                                <div class="tab-pane fade" id="photochromatic" role="tabpanel">
                                    <!-- DataTables Example -->
                                    <div class="card shadow mt-2 mb-4">
                                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                            <h6 class="m-0 font-weight-bold text-red">Photochromic (Transition) Table</h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table" id="dataTable-photochromatic" width="100%" cellspacing="0">
                                                    <thead class="table-light">
                                                        <tr>
                                                            <th>Photochromic ID</th>
                                                            <th>Patient ID</th>
                                                            <th>Patient First Name</th>
                                                            <th>Patient Middle Initial</th>
                                                            <th>Patient Last Name</th>
                                                            <th>Age</th>
                                                            <th>Gender</th>
                                                            <th>Date</th>
                                                            <th>Brand</th>
                                                            <th>Price</th>
                                                            <th>Material</th>
                                                            <th>Product Name</th>
                                                            <th>Color Tint</th>
                                                        </tr>
                                                    </thead>
                                                   <tbody>
                                                        {% for photo in photochromatic %}
                                                        <tr>
                                                          <td>{{ photo.photochromic_id }}</td>
                                                          <td>{{ photo.patient_id }}</td>
                                                          <td>{{ photo.patient_fname }}</td>
                                                          <td>{{ photo.patient_minitial }}</td>
                                                          <td>{{ photo.patient_lname }}</td>
                                                          <td>{{ photo.age }}</td>
                                                          <td>{{ photo.gender }}</td>
                                                          <td>{{ photo.date }}</td>
                                                          <td>{{ photo.brand }}</td>
                                                          <td>₱ {{ photo.price }}</td>
                                                          <td>{{ photo.material }}</td>
                                                          <td>{{ photo.product_name }}</td>
                                                          <td>{{ photo.color_tint }}</td>
                                                        </tr>
                                                        {% endfor %}
                                                   </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                 <!-- Tinted/Colored Lenses Tab -->
                                <div class="tab-pane fade" id="tinted" role="tabpanel">
                                    <!-- DataTables Example -->
                                    <div class="card shadow mt-2 mb-4">
                                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                            <h6 class="m-0 font-weight-bold text-red">Tinted/Colored Lenses Table</h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table" id="dataTable-tinted" width="100%" cellspacing="0">
                                                    <thead class="table-light">
                                                        <tr>
                                                            <th>Tinted/Colored Lens ID</th>
                                                            <th>Patient ID</th>
                                                            <th>Patient First Name</th>
                                                            <th>Patient Middle Initial</th>
                                                            <th>Patient Last Name</th>
                                                            <th>Age</th>
                                                            <th>Gender</th>
                                                            <th>Date</th>
                                                            <th>Brand</th>
                                                            <th>Price per Box</th>
                                                            <th>Lens Type</th>
                                                            <th>Color</th>
                                                            <th>Product Name</th>
                                                            <th>Lens Count</th>
                                                        </tr>
                                                    </thead>
                                                   <tbody>
                                                        {% for tin in tinted %}
                                                        <tr>
                                                          <td>{{ tin.tinted_id }}</td>
                                                          <td>{{ tin.patient_id }}</td>
                                                          <td>{{ tin.patient_fname }}</td>
                                                          <td>{{ tin.patient_minitial }}</td>
                                                          <td>{{ tin.patient_lname }}</td>
                                                          <td>{{ tin.age }}</td>
                                                          <td>{{ tin.gender }}</td>
                                                          <td>{{ tin.date }}</td>
                                                          <td>{{ tin.brand }}</td>
                                                          <td>₱ {{ tin.price_per_box }}</td>
                                                          <td>{{ tin.lens_type }}</td>
                                                          <td>{{ tin.color }}</td>
                                                          <td>{{ tin.model_name }}</td>
                                                          <td>{{ tin.lens_count }}</td>
                                                        </tr>
                                                        {% endfor %}
                                                   </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                 <!-- Progressive Lenses Tab -->
                                <div class="tab-pane fade" id="progressive" role="tabpanel">
                                    <!-- DataTables Example -->
                                    <div class="card shadow mt-2 mb-4">
                                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                            <h6 class="m-0 font-weight-bold text-red">Progressive Lenses Table</h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table" id="dataTable-progressive" width="100%" cellspacing="0">
                                                    <thead class="table-light">
                                                        <tr>
                                                            <th>Progressive Lens ID</th>
                                                            <th>Patient ID</th>
                                                            <th>Patient First Name</th>
                                                            <th>Patient Middle Initial</th>
                                                            <th>Patient Last Name</th>
                                                            <th>Age</th>
                                                            <th>Gender</th>
                                                            <th>Date</th>
                                                            <th>Brand</th>
                                                            <th>Price per Pair</th>
                                                            <th>Coating</th>
                                                            <th>Material</th>
                                                            <th>Color Tint</th>
                                                            <th>Model Name</th>
                                                            <th>Blue Light Filter</th>
                                                        </tr>
                                                    </thead>
                                                   <tbody>
                                                        {% for pro in progressive %}
                                                        <tr>
                                                          <td>{{ pro.progressive_id }}</td>
                                                          <td>{{ pro.patient_id }}</td>
                                                          <td>{{ pro.patient_fname }}</td>
                                                          <td>{{ pro.patient_minitial }}</td>
                                                          <td>{{ pro.patient_lname }}</td>
                                                          <td>{{ pro.age }}</td>
                                                          <td>{{ pro.gender }}</td>
                                                          <td>{{ pro.date }}</td>
                                                          <td>{{ pro.brand }}</td>
                                                          <td>₱ {{ pro.price_per_pair }}</td>
                                                          <td>{{ pro.coating }}</td>
                                                          <td>{{ pro.material }}</td>
                                                          <td>{{ pro.color_tint }}</td>
                                                          <td>{{ pro.model_name }}</td>
                                                          <td>{{ pro.blue_light_filter }}</td>
                                                        </tr>
                                                        {% endfor %}
                                                   </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                     </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Eye Can See Optical 2025</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <script>
      function switchTab(tabId) {
        // Deactivate all tabs and panes
        document.querySelectorAll('.tab-pane').forEach(el => {
          el.classList.remove('show', 'active');
        });

        // Activate target tab pane
        const target = document.getElementById(tabId);
        if (target) {
          target.classList.add('show', 'active');
        }

        // Optional: activate matching nav link (if any)
        document.querySelectorAll('.nav-link').forEach(el => {
          el.classList.remove('active');
        });

        const navLink = document.querySelector(`.nav-link[href="#${tabId}"]`);
        if (navLink) {
          navLink.classList.add('active');
        }
      }
    </script>

     <script>
      $(document).ready(function () {
        $('#dataTable').DataTable();
      });
    </script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap (with Popper for modal) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>


    <!-- Bootstrap core JavaScript-->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="static/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="static/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="static/js/demo/datatables-demo.js"></script>

</body>

</html>