<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Eye Can See Optical - Patient Personal Information</title>  

    <!-- Custom fonts for this templates -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/icon logo.png') }}">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    
    <!-- Custom styles for this templates -->
   <link rel="stylesheet" href="{{ url_for('static', filename='css/sb-admin-2.css') }}">

    <style>  
        .card {  
            margin-top: 20px;  
            border: none;  
            border-radius: 15px;  
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
        }  
        .profile-img {  
            border-radius: 50%;  
            width: 100px;  
            height: 100px;  
        }  
        .user-info {  
            text-align: center;  
        }  
        .info-section {  
            display: flex;  
            flex-wrap: wrap; /* Allow wrapping for smaller screens */  
            justify-content: space-between;  
            align-items: flex-start;  
            margin-top: 20px;  
            padding: 20px;  
        }  
        .info-column {  
            flex: 1;  
            padding: 0 10px;  
        }  
        .divider {  
            width: 1px;  
            background-color: #e0e0e0; /* Light gray color for the divider */  
            height: 100%; /* Full height of the card */  
            margin: 0 20px; /* Margin for spacing */  
        }  

        .timeline {
            position: relative;
            padding-left: 20px;
        }

        .timeline::before {
            content: '';
            position: absolute;
            top: 0;
            left: 125px; /* Adjust where the line will be */
            width: 2px;
            height: 100%;
            background: #d4d4d4;
        }

        .timeline-item {
            display: flex;
            align-items: flex-start;
            margin-bottom: 20px;
        }

        .timeline-time {
            width: 100px;
            text-align: right;
            font-size: 0.85rem;
            color: #6c757d;
            padding-right: 10px;
            flex-shrink: 0;
        }

        .timeline-dot {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: #ccc;
            flex-shrink: 0;
            margin-top: 4px;
            position: relative;
            z-index: 2;
        }

        .timeline-content {
            padding-left: 15px;
            flex-grow: 1;
        }

        .card .row {
          border-bottom: 1px solid #e0e0e0;
          padding: 8px 0;
        }

    </style>  
</head>

<body id="page-top">  

     <!-- Page Wrapper -->
     <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <img src="{{ url_for('static', filename='img/eye can see - logo.png') }}" alt="Eye Can See" class="navbar-logo" />
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}">
                    <i class="fas fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

             <!-- Nav Item - Appointment -->
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('appointments') }}">
                    <i class="fas fa-calendar-check"></i>
                    <span>Appointment</span></a>
            </li>
              
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Patient Records -->
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('patient_records') }}">
                    <i class="fas fa-user"></i>
                    <span>Patient Records</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Invoice & Payments -->
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('invoices') }}">
                    <i class="fas fa-money-bill-wave"></i>
                    <span>Invoice & Payments</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header" style="background-color: #9C2627;">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">7</span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header" style="background-color: #9C2627;">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="{{ url_for('static', filename='img/undraw_profile_1.svg') }}"
                                            alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                            problem I've been having.</div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="{{ url_for('static', filename='img/undraw_profile_2.svg') }}"
                                            alt="...">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">I have the photos that you ordered last month, how
                                            would you like them sent to you?</div>
                                        <div class="small text-gray-500">Jae Chun · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="{{ url_for('static', filename='img/undraw_profile_3.svg') }}"
                                            alt="...">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Last month's report looks great, I am very happy with
                                            the progress so far, keep up the good work!</div>
                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="{{ url_for('static', filename='img/undraw_profile_2.svg') }}"
                                            alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                                            told me that people say this to all dogs, even if they aren't good...</div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Hannah Archivido</span>
                                <img class="img-profile rounded-circle"
                                    src="{{ url_for('static', filename='img/undraw_profile.svg') }}">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-900">PATIENT RECORDS</h1>
                    </div>

                    <!-- Content Row -->  
                    <div class="container mt-4">  
                        <div class="info-section">  
                            <div>
                                <a class="btn btn-primary active" href="{{ url_for('patient_details', patient_id=patient['patient_id']) }}">Patient Information</a>
                                <a class="btn btn-secondary" href="{{ url_for('patient_history', patient_id=patient['patient_id']) }}">History</a>

                            </div>  
                        </div>  
                
                        <div class="card">  
                            <div class="info-section">  
                                <!-- Profile Section -->  
                               <div class="info-column user-info">
                                    <img
                                        src="{{ url_for('static', filename='img/undraw_profile_1.svg') if patient.gender == 'Female' else url_for('static', filename='img/undraw_profile_2.svg') }}"
                                        alt="Profile Image"
                                        class="profile-img"
                                    >
                                    <h5 class="mt-2">{{ patient.patient_fname }} {{ patient.patient_minitial }} {{ patient.patient_lname }}</h5>
                                    <span class="badge badge-info">User</span>
                                    <small class="text-muted">Pending Verification</small>
                               </div>

                
                                <div class="divider"></div> <!-- Divider -->  
                
                                <!-- Contact Info Section -->  
                                <div class="info-column">  
                                    <h6 class="font-weight-bold">Contact Info</h6>
                                    <p><strong>Phone:</strong> {{ patient.contact_details }} </p>
                                    <p><strong>Email:</strong> {{ patient.email }} </p>
                                    <p><strong>Address:</strong> {{ patient.province }}, {{ patient.city }}, {{ patient.barangay }}, {{ patient.street }}</p>
                                </div>  
                
                                <div class="divider"></div> <!-- Divider -->  
                
                                <!-- Additional Info Section -->  
                                <div class="info-column">  
                                    <h6 class="font-weight-bold">Info</h6>  
                                    <p><strong>Date of Birth:</strong> {{ patient.birthday }} </p>
                                    <p><strong>Member Since:</strong> 11.04.2018</p>  
                                    <p><strong>Password:</strong> **************</p>
                                </div>  
                            </div>  
                        </div>  
                    </div> 
                    
                    <div class="container mt-4">  
                        <!--  Tabs Navigation -->  
                        <ul class="nav nav-tabs" id="myTab" role="tablist">  
                            <li class="nav-item">  
                                <a class="nav-link active" id="eye-results-tab" data-toggle="tab" href="#eye-results" role="tab" aria-controls="eye-results" aria-selected="true">Eye Exam Results</a>  
                            </li>  
                            <li class="nav-item">  
                                <a class="nav-link" id="prescription-tab" data-toggle="tab" href="#prescription" role="tab" aria-controls="prescription" aria-selected="false">Prescription</a>  
                            </li>  
                            <li class="nav-item">  
                                <a class="nav-link" id="invoices-tab" data-toggle="tab" href="#invoices" role="tab" aria-controls="invoices" aria-selected="false">Invoice</a>  
                            </li>  
                            <li class="nav-item">  
                                <a class="nav-link" id="payment-history-tab" data-toggle="tab" href="#payment-history" role="tab" aria-controls="payment-history" aria-selected="false">Track Payment History</a>  
                            </li>  
                        </ul>  
                    
                       <!-- Tabs Content -->  
                        <div class="tab-content" id="myTabContent">  
                            <!-- Eye Exam Results Tab -->
                          <div class="tab-pane fade show active" id="eye-results" role="tabpanel">
                              <div class="card mt-3 p-3">
                                {% for result in eye_results %}
                                  <div class="row mb-2">
                                      <div class="col-6"><strong>Medical History</strong></div>
                                    <div class="col-6">{{ result.medical_history }}</div>
                                  </div>
                                  <div class="row mb-2">
                                      <div class="col-6"><strong>Old Prescription (OD - right eye)</strong></div>
                                    <div class="col-6">{{ result.old_rx_od }}</div>
                                  </div>
                                  <div class="row mb-2">
                                      <div class="col-6"><strong>Old Prescription (OS - left eye)</strong></div>
                                    <div class="col-6">{{ result.old_rx_os }}</div>
                                  </div>
                                  <div class="row mb-2">
                                      <div class="col-6"><strong>Old Visual Acuity (OD - right eye)</strong></div>
                                    <div class="col-6">{{ result.old_va_od }}</div>
                                  </div>
                                  <div class="row mb-2">
                                    <div class="col-6"><strong>Old Visual Acuity (OS - left eye)</strong></div>
                                    <div class="col-6">{{ result.old_va_os }}</div>
                                  </div>
                                  <div class="row mb-2">
                                      <div class="col-6"><strong>Old ADD (OD - right eye)</strong></div>
                                    <div class="col-6">{{ result.old_add_od }}</div>
                                  </div>
                                  <div class="row mb-2">
                                    <div class="col-6"><strong>Old ADD (OS - left eye)</strong></div>
                                    <div class="col-6">{{ result.old_add_os }}</div>
                                  </div>
                                  <div class="row mb-2">
                                    <div class="col-6"><strong>Blood Pressure (B.P.)</strong></div>
                                    <div class="col-6">{{ result.bp }}</div>
                                  </div>
                                  <div class="row mb-2">
                                    <div class="col-6"><strong>Ishihara Color Test Result</strong></div>
                                    <div class="col-6">{{ result.ishihara_result }}</div>
                                  </div>
                                {% endfor %}
                              </div>
                          </div>

                            <!-- Prescription Tab -->  
                            <div class="tab-pane fade" id="prescription" role="tabpanel">
                              <div class="card mt-3 p-3">
                                {% for pres in prescriptions %}
                                  <div class="row mb-2">
                                    <div class="col-6"><strong>Date</strong></div>
                                    <div class="col-6">{{ pres.prescription_date }}</div>
                                  </div>
                                  <div class="row mb-2">
                                    <div class="col-6 fw-bold">Distance Prescription (OD)</div>
                                    <div class="col-6">{{ pres.distance_rx_od }}</div>
                                  </div>
                                  <div class="row mb-2">
                                    <div class="col-6"><strong>Distance Prescription (OS)</strong></div>
                                    <div class="col-6">{{ pres.distance_rx_os }}</div>
                                  </div>
                                  <div class="row mb-2">
                                    <div class="col-6"><strong>Contact Lens RX (OD)</strong></div>
                                    <div class="col-6">{{ pres.contact_rx_od }}</div>
                                  </div>
                                  <div class="row mb-2">
                                    <div class="col-6"><strong>Contact Lens RX (OS)</strong></div>
                                    <div class="col-6">{{ pres.contact_rx_os }}</div>
                                  </div>
                                  <div class="row mb-2">
                                    <div class="col-6"><strong>Reading RX (OD)</strong></div>
                                    <div class="col-6">{{ pres.reading_rx_od }}</div>
                                  </div>
                                  <div class="row mb-2">
                                    <div class="col-6"><strong>Reading RX (OS)</strong></div>
                                    <div class="col-6">{{ pres.reading_rx_os }}</div>
                                  </div>
                                  <div class="row mb-2">
                                    <div class="col-6"><strong>Sphere Value (OD)</strong></div>
                                    <div class="col-6">{{ pres.sph_od }}</div>
                                  </div>
                                  <div class="row mb-2">
                                    <div class="col-6"><strong>Sphere Value (OS)</strong></div>
                                    <div class="col-6">{{ pres.sph_os }}</div>
                                  </div>
                                  <div class="row mb-2">
                                    <div class="col-6"><strong>Cylinder Value (OD)</strong></div>
                                    <div class="col-6">{{ pres.cyl_od }}</div>
                                  </div>
                                  <div class="row mb-2">
                                    <div class="col-6"><strong>Cylinder Value (OS)</strong></div>
                                    <div class="col-6">{{ pres.cyl_os }}</div>
                                  </div>
                                  <div class="row mb-2">
                                    <div class="col-6"><strong>Axis (OD)</strong></div>
                                    <div class="col-6">{{ pres.axis_od }}</div>
                                  </div>
                                  <div class="row mb-2">
                                    <div class="col-6"><strong>Axis (OS)</strong></div>
                                    <div class="col-6">{{ pres.axis_os }}</div>
                                  </div>
                                  <div class="row mb-2">
                                    <div class="col-6"><strong>Visual Acuity (OD)</strong></div>
                                    <div class="col-6">{{ pres.va_od }}</div>
                                  </div>
                                  <div class="row mb-2">
                                    <div class="col-6"><strong>Visual Acuity (OS)</strong></div>
                                    <div class="col-6">{{ pres.va_os }}</div>
                                  </div>
                                  <div class="row mb-2">
                                    <div class="col-6"><strong>ADD (OD)</strong></div>
                                    <div class="col-6">{{ pres.add_od }}</div>
                                  </div>
                                  <div class="row mb-2">
                                    <div class="col-6"><strong>ADD (OS)</strong></div>
                                    <div class="col-6">{{ pres.add_os }}</div>
                                  </div>
                                  <div class="row mb-2">
                                    <div class="col-6"><strong>Monocular PD (OD)</strong></div>
                                    <div class="col-6">{{ pres.mono_od }}</div>
                                  </div>
                                  <div class="row mb-2">
                                    <div class="col-6"><strong>Monocular PD (OS)</strong></div>
                                    <div class="col-6">{{ pres.pd_os }}</div>
                                  </div>
                                  <div class="row mb-2">
                                    <div class="col-6"><strong>Segment Height (OD)</strong></div>
                                    <div class="col-6">{{ pres.seg_ht_od }}</div>
                                  </div>
                                  <div class="row mb-2">
                                    <div class="col-6"><strong>Vertical Height (OS)</strong></div>
                                    <div class="col-6">{{ pres.vert_ht_os }}</div>
                                  </div>
                                  <div class="row mb-2">
                                    <div class="col-6"><strong>Pupillary Distance (General)</strong></div>
                                    <div class="col-6">{{ pres.pd }}</div>
                                  </div>
                                {% endfor %}
                              </div>
                            </div>

                           <!-- Invoices Tab -->
                            <div class="tab-pane fade" id="invoices" role="tabpanel">
                              <div class="card mt-3 p-3">
                                {% for invoice in invoices %}
                                  <div class="row mb-2">
                                    <div class="col-6"><strong>Invoice ID</strong></div>
                                    <div class="col-6">{{ invoice.invoice_id }}</div>
                                  </div>
                                  <div class="row mb-2">
                                    <div class="col-6"><strong>Invoice Number</strong></div>
                                    <div class="col-6">{{ invoice.invoice_number }}</div>
                                  </div>
                                  <div class="row mb-2">
                                    <div class="col-6"><strong>Transaction Date</strong></div>
                                    <div class="col-6">{{ invoice.transaction_date }}</div>
                                  </div>
                                  <div class="row mb-2">
                                    <div class="col-6"><strong>Claim Date</strong></div>
                                    <div class="col-6">{{ invoice.claim_date }}</div>
                                  </div>
                                  <div class="row mb-2">
                                    <div class="col-6"><strong>Frame Price</strong></div>
                                    <div class="col-6">₱ {{ invoice.frame_price }}</div>
                                  </div>
                                  <div class="row mb-2">
                                    <div class="col-6"><strong>Lens Price</strong></div>
                                    <div class="col-6">₱ {{ invoice.lens_price }}</div>
                                  </div>
                                  <div class="row mb-2">
                                    <div class="col-6"><strong>Additional Price</strong></div>
                                    <div class="col-6">₱ {{ invoice.additional_price }}</div>
                                  </div>
                                  <div class="row mb-2">
                                    <div class="col-6"><strong>Total Amount</strong></div>
                                    <div class="col-6">₱ {{ invoice.total_price }}</div>
                                  </div>
                                  <div class="row mb-2">
                                    <div class="col-6"><strong>Downpayment</strong></div>
                                    <div class="col-6">₱ {{ invoice.deposit_amount }}</div>
                                  </div>
                                  <div class="row mb-2">
                                    <div class="col-6"><strong>Remaining Balance</strong></div>
                                    <div class="col-6">₱ {{ invoice.balance_due }}</div>
                                  </div>
                                  <div class="divider my-3"></div>
                                {% endfor %}
                              </div>
                            </div>


                            
                           <!-- Track Payment History Tab -->
                            <div class="tab-pane fade" id="payment-history" role="tabpanel">
                              <div class="card mt-3 p-3" style="background-color: #fff7f7;">
                                <div class="timeline">
                                  {% for invoice in invoices %}
                                    {% for s in invoice.payment %}
                                      <div class="timeline-item mb-4">
                                        <div class="timeline-time">{{ s.time_ago }}</div>
                                        <div class="timeline-dot
                                          {% if s.payment_status == 'Partial' %}bg-warning
                                          {% elif s.payment_status == 'Paid' %}bg-success
                                          {% else %}bg-secondary{% endif %}">
                                        </div>
                                        <div class="timeline-content">
                                          <p class="mb-0">
                                            <strong>₱{{ s.amount_paid }}</strong> paid via {{ s.payment_method }}
                                          </p>
                                          <small>Status: {{ s.payment_status }} | Date Paid: {{ s.date_paid }}</small>
                                        </div>
                                      </div>
                                    {% endfor %}
                                  {% endfor %}
                                </div>
                              </div>
                            </div>


                        </div>  
                    </div>                      
                </div>
            </div>
        </div>


    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>  
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>  
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

         <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>

    <!-- Page level plugins -->
    <script src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static', filename='js/demo/datatables-demo.js') }}"></script>

</body>
</html>  
